body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #7d568b, #2b1135);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  
}

.header {
  border-bottom: solid 5px;
}

.form {
  margin-top: 15px;
  margin-left: 15px;
}

.show-btn > button{
  margin-top: 15px;
  margin-left: 15px;
}


.sidebar-parent {
  display: inline-flex;
  height: 100%;
  width: 20%;
  border: solid 5px;
  
}

.sidebar-child {
  display: inline-block;
  width: 100%;
  border: dotted 5px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  align-items: flex-start;
}

.searchbar {
  float: right;
  margin-right: 15px;
  margin-bottom: 10px;
  border-radius: 10%;
  display: flex;
  justify-content: flex-end;
  flex: 1 1 0%;
  
  /* transition: 1s; */
}

.label {

}

.header {
  text-align: center;;
}


.grid-container {
  padding: 5%;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  text-align: center;
  
  
}


.tile-image {
  border-radius: 10%;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.manga-image {
  border-radius: 10%;
}

.tile-image:hover {
  animation-name: bounce;
  animation-timing-function:ease-in-out;
}

.animelist-component {
  border: solid 5px;
  
}

.mangalist-component {
  border: solid 5px;
  
}